html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
  color: white;
}

.icons-social i {
  margin-top: 50px;
  padding: 10px;
  font-size: 2em;
  color: white;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ase-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
} 

.icons-social i:hover{
  color: #26b7e0;
}

.myname{
  font-size: 3em;
}

.nav{
  background-color: #282c34;
}

.About, .skill {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.projects {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 5%;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 1200px){
  .About{
    padding-top: 10%;
  }
}

@media screen and (max-width: 840px){
  .About, .projects{
    padding-top: 15%;
  }
}

@media screen and (max-width: 420px){
  .About, .projects{
    padding-top: 20%;
  }
}

.About-text {
  font-size: medium;
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
}

/* End of About CSS */

.skill-item{
  padding-top: 30px;
}

.card-container {
  margin-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

.cardrepo {
  min-width: 10rem;
  min-height: 10rem;
}

.repo-url {
  text-decoration: none;
}